<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Mercadona - Profil</title>

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/catalog">Catalogue</a></li>
                <li th:if="${authentication != null}"><a href="/login">Connexion</a></li>
                <li th:if="${authentication != null}"><a href="/logout">Déconnexion</a></li>
                <li th:if="${authentication != null}"><a href="/register">Inscription</a></li>
                <li th:if="${authentication != null}"><a href="/dashboard">Tableau de bord</a></li>
            </ul>
        </nav>

        <h1>Profil</h1>
    </body>
</html>